*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Niramit, sans-serif;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
  html {
    scroll-behavior: smooth;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
  }
  body{
    font-family: Niramit, sans-serif; 
  }
  :root {
    --shop-color-bg: #ffffff;
    --shop-color-main: #b99d75;
    --shop-color-text: #252a2b;
    --shop-color-hover: #b99d75;
    --shop-color-button: #53624e;
    --shop-color-button-text: #ffffff;
    --shop-color-border: #eee;
    --shop-color-header: #1a1b1a;
    --shop-home-slider-color: #ffffff;
    --shop-home-about-bg: #e0e1df;
    --shop-home-service-bg: #4E5C4A;
    --shop-home-service-color: #ffffff;
    --shop-home-blog-bg: #e0e1df;
    --shop-home-blog-color: #1a1b1a;
    --shop-home-newsletter-bg: #F9F9F9;
    --shop-home-newsletter-color: #1a1b1a;
    --shop-home-instagram-bg: #ffffff;
    --shop-ft-bg: #53624E;
    --shop-ft-color: #ffffff;
    --shop-ft-bg-copyright: #000000;
    --shop-ft-color-copyright: #ffffff;
    --about-us-bg: #e0e1df;
    --about-us-color: #1a1b1a;
    --about-us-service-bg: #e0e1df;
    --about-us-service-color: #1a1b1a;
  }
  ul{
    list-style: none;
  }
  a{
    text-decoration: none;
    color: #ffff;
  }
  img {
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
    object-fit: cover;
   
  }
  h2{
    color: var(--shop-color-title);
    margin: 0 0 13px 0;
    font-weight: 700;
    line-height: 1.2;
  }
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
  }
  h1, h2, h3, h4, h5, h6 {
    color: var(--shop-color-title);
    margin: 0 0 13px 0;
    font-weight: 700;
    line-height: 1.2;
  }
  h4 {
    font-size: 1.5rem;
  }
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .pd_15{
    padding: 0px 15px;
  }
  .pd_R30{
    padding-right: 30px;
  }
  .pd_L30{
    padding-left: 30px;
  }

  .min_warp{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto; /* Tự động căn giữa */
  }
  .gh_columb{
    display: flex;
    justify-content: space-between;
  }
.gh_row1{
    width: 66%;
    background: #fff;
    border: 1px solid #ebebeb;
    padding: 20px;
    margin: 15px 0;
    margin-right: 5px;
}
.gh_form h3, .gh_form2 h3{
    text-transform: uppercase;
    font-size: 24px;
}
.gh_info{
    display: flex;
    font-size: 14px;
    border: 1px solid #ebebeb;
    background: #f8f8f8;
    font-weight: bold;
    text-transform: uppercase;
    padding: 7px 0;
}
.info_1{
    width: 51%;
    text-align: left;
    padding-left: 10px;
}

.info_2{
    width: 16%;
    text-align: center;
}
.gh_content{
    display: flex;
    width: 100%;
    height: 120px;
}
.gh_item_img{
    width: 110px;
    height: 110px;
    margin: 10px 5px;
}
.gh_item_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gh_item_info{
    padding-left: 15px;
    vertical-align: top;
    padding-right: 15px;
    display: flex;
    width: calc(100% - 110px);
}
.gh_item_name{
    width: 42%;
    margin-bottom: 5px;
    padding: 35px 0;
}
.gh_item_name a{
    margin-bottom: 4px;
    font-size: 16px;
}
.item_name{
    display: block;
    font-weight: 500;
}

.gird{
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.justify{
    justify-content: end;
}
.gh_row2{
    width: 34%;
    background: #fff;
    border: 1px solid #ebebeb;
    padding: 20px;
    margin: 15px 0;
    margin-left: 5px;
}
.gh_check_sum{
    display: flex;
    justify-content: space-between;
}
.gh_sum_left{
    font-weight: 600;
}
.gh_sum_right{
    font-size: 22px;
}
.span_price{
    font-weight: 700;
    color: #D31102;
}
.gh_btn{
    width: 100% ;
    padding: 10px 0;
    margin: 10px;
    border: none;
    font-weight: 700;
    color: #fff;
    background: #4795C1;
}
.gh_btn:hover{
    background: #3d779e;
}